/scripts/.local/bin/wsdump.py
/scripts/.local/bin/mss
/scripts/.local/bin/f2py3.9
/scripts/.local/bin/f2py3
/scripts/.local/bin/f2py
/scripts/.local/bin/airtest
/scripts/.local/bin/__pycache__/
/mememacs/.emacs-mememacs.d/straight/
/mememacs/.emacs-mememacs.d/local-before.el
/mail/emacs-dummy-pkg/emacs-dummy-1-2-any.pkg.tar.xz
/mail/emacs-dummy-pkg/pkg/
/bb/.local/bin/bb-scripts/.nrepl-port
/scripts/.local/bin/scripts/.nrepl-port
/gaia-s-stumpwm/.stumpwm.d/stumpwm.log.1
/stumpwm/.stumpwm.d/stumpwm.log.1
/stumpwm/.stumpwm.d/init.fasl
/mememacs/.emacs-mememacs.d/history
/mememacs/.emacs-mememacs.d/projects
/mememacs/.emacs-mememacs.d/recentf
/mememacs/.emacs-mememacs.d/transient/
/mememacs/.emacs-mememacs.d/tramp
/qutebrowser/.config/qutebrowser/work_config.py
/mememacs/.emacs-mememacs.d/elpa/
/mememacs/.emacs-mememacs.d/.lsp-session-v1
/mememacs/.emacs-mememacs.d/.cache/
/mememacs/.emacs-mememacs.d/eln-cache/
/clojure/.clojure/.cpcache/
/mememacs/.emacs-mememacs.d/racket-mode/
/mememacs/.emacs-mememacs.d/request/
/clojure/.clojure/.clj-kondo/
/clojure/.clojure/.lsp/
