/scripts/.local/bin/wsdump.py
/scripts/.local/bin/mss
/scripts/.local/bin/f2py3.9
/scripts/.local/bin/f2py3
/scripts/.local/bin/f2py
/scripts/.local/bin/airtest
/scripts/.local/bin/__pycache__/
/mememacs/.emacs-mememacs.d/straight/
/mememacs/.emacs-mememacs.d/local-before.el
/mail/emacs-dummy-pkg/emacs-dummy-1-2-any.pkg.tar.xz
/mail/emacs-dummy-pkg/pkg/
/bb/.local/bin/bb-scripts/.nrepl-port
/scripts/.local/bin/scripts/.nrepl-port
/gaia-s-stumpwm/.stumpwm.d/stumpwm.log.1
