;;; Edraw UI State ---    -*- mode: lisp-data -*-
((preset
  (presets
   (shape
    ("big-purple" (subtype . text)
     (properties (text . "T") (x . "240") (y . "720") (dx) (dy)
                 (font-family . "sans-serif") (font-size . "30")
                 (font-weight) (font-style) (text-decoration)
                 (text-anchor . "middle") (writing-mode)
                 (data-edraw-text-leading) (opacity)
                 (fill . "#9600ff") (fill-opacity)
                 (stroke . "#9600ff") (stroke-opacity)
                 (stroke-width . "2") (stroke-dasharray)
                 (stroke-dashoffset) (style) (transform))))))
 (color-picker
  (recent-colors "#ff88f0" "#00baff" "#ffd200" "#fff888" "#ffc888"
                 "#6cff00" "#e3fffd" "#9600ff" "#101010" "#ff8888"
                 "#f8f8f8" "rgba(16,16,16,0.6941)"
                 "rgba(16,16,16,0.6941176470588235)"
                 "rgba(16,16,16,0.1569)"
                 "rgba(16,16,16,0.1568627450980392)" "#fdffe3"))
 (edraw-ui-state (version . 1)))
