;;; Edraw UI State ---    -*- mode: lisp-data -*-
((color-picker
  (recent-colors "#ffa500" "#ffff00" "#ff0000" "#000000" "#f689ff"
                 "#00ff00" "#f1e09e" "#b7d4f2" "#f8f8f8" "#f57171"
                 "#008000" "#00ffff" "#f7b4b4" "#93e579" "#ffffff"
                 "#71e584" "#0000ff" "#ff00ff" "#00000080" "#0000ff80"
                 "#00ff0080" "#00ffff80" "#ff000080" "#ff00ff80"
                 "#ffff0080" "#ffffff80"))
 (edraw-ui-state (version . 1)))
