;;; Edraw UI State ---    -*- mode: lisp-data -*-
((color-picker
  (recent-colors "#ff0000" "#00ffff" "#ffa500" "#ffff00" "#93e579"
                 "#ffffff" "#f689ff" "#f8f8f8" "#71e584" "#f57171"
                 "#00ff00" "#008000" "#000000" "#0000ff" "#ff00ff"
                 "#00000080" "#0000ff80" "#00ff0080" "#00ffff80"
                 "#ff000080" "#ff00ff80" "#ffff0080" "#ffffff80"))
 (edraw-ui-state (version . 1)))
